yarn/global/node_modules/*
node_modules
iterm2/AppSupport
**/.DS_Store
configstore
gcloud
brazil
qBittorrent
MusicBrainz
nicotine
.environment-specifics.zsh
flipper
Keyboard Maestro Macros.kmsync

# raspberry pi stuff
Code
pulse
openbox
lxterminal
lxsession
geany

fish/conf.d
raycast/extensions

raycast/config.json
grit/grit-receipt.json
graphite/user_config
uv/uv-receipt.json
tmuxai/history
tmuxai/tmuxai.log
